@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,500&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Kanit:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600&family=Teko:wght@300;400;500;600&family=Vollkorn:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply h-full bg-black
}


body {
  @apply h-full bg-black
}
